<div class="input-group">
    <input type="text"
           class="form-control my-date-picker"
           uib-datepicker-popup=""
           ng-model="ngModel"
           is-open="opened"
           min="minDate"
           max="'2015-06-22'"
           datepicker-options="dateOptions"
           date-disabled="disabled(date, mode)"
           ng-required="true"
           close-text="Відмінити"
           current-text="Сьогодні"
           clear-text="Очистити" />
    <span class="input-group-btn">
        <button class="form-control" ng-click="open($event)">
            <i class="fa fa-calendar"></i>
        </button>
    </span>
</div>